p {
    margin: 0px 0px 15px;
}

textarea {
    height: 100px;
    resize: none;
}

label {
    font-weight: bold;
}

h1 + hr, h2 + hr, h3 + hr, h4 + hr, h5 + hr, h6 + hr {
  margin: 8px 0px 8px;
}

.well h1, .well h2, .well h3, .well h4, .well h5, .well h6 {
    margin: 0px;
}

button:focus, select:focus {
    outline: none;
    border-color: #74B9EF;
}

input[type="checkbox"] {
    vertical-align: text-bottom;
}

input[type="radio"] {
    vertical-align: text-bottom;
}

input[type="radio"] + label {
    padding-left: 5px;
}

dl dt + dd {
    margin-bottom: 8px;
}

ul.circle { list-style-type: circle }
ul.square { list-style-type: square; }
ul.upper-roman { list-style-type: upper-roman; }
ul.lower-roman { list-style-type: lower-roman; }
ul.upper-alpha { list-style-type: upper-alpha; }
ul.lower-alpha { list-style-type: lower-alpha; }


.strip-bottom { margin-bottom: 0px; }
.strip-top { margin-top: 0px; }

.full-width { width: 100%; }

.inline { display: inline; }

.inline-block { display: inline-block; }

.text-bold { font-weight: bold; }
.text-bolder { font-weight: bolder; }
.text-underline { text-decoration: underline; }
.text-normal {
    font-weight: normal;
    text-decoration: none;
}

/** 
 * Basic absolute centering 
**/
.absolute-container {
    position: relative;
    height: 100%;
}
.absolute-center {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.absolute-center-vertical {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
}
.absolute-center-horizontal {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}

/**
 * Inline radio button list
**/
fieldset.radio-group > legend {
    font-weight: bold;
    font-size: 14px;
    padding: 0px;
    line-height: 20px;
    margin-bottom: 5px;
    text-align: left;
    border: none;
}

fieldset.radio-group > ul {
    list-style: none;
    margin-left: 0px;
    display: inline;
}

fieldset.radio-group > ul > li {
    display: inline-block;
    padding: 0px 10px 0px 10px;
}

fieldset.radio-group > ul > li > label {
    float: right;
}


ul.pager li.previous {
    margin-right: 10px;
}

/**
 * Inline thumbnails list
**/
ul.thumbnails {
    vertical-align: central;
    text-align: center;
}
ul.thumbnails li {
    max-width: 200px;
    height: auto;
    display: inline-block;
    float: none;
    zoom: 1;
    margin: 7px;
}
ul.thumbnails img {
    border: 1px solid #000;
}

/** 
 * Custom bootstrap navbar
**/
div.navbar a.brand {
    font-weight: bold;
}
div.navbar a {
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}
div.navbar div.nav-collapse.in ul.nav li a {
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}
div.navbar div.nav-collapse ul.nav li.divider-vertical {
    margin-left: 0px;
    margin-right: 0px;
}
div.navbar div.nav-collapse ul.nav li a {
    padding-left: 10px;
    padding-right: 10px;
}
div.navbar div.nav-collapse ul.nav a [class^="icon-"], 
div.navbar div.nav-collapse ul.nav a [class*=" icon-"], 
div.navbar div.nav-collapse ul.nav a i.fa {
    margin-right: 5px;
}
div.navbar div.nav-collapse.in ul.nav a [class^="icon-"],
div.navbar div.nav-collapse.in ul.nav a [class*=" icon-"],
div.navbar div.nav-collapse.in ul.nav a i.fa {
    margin-right: 15px;
}
div.navbar div.nav-collapse ul.nav a
div.navbar div.nav-collapse ul.nav li.divider-vertical.active {
    border-left: #222;
    border-right: #111;
}

/** 
 * Custom bootstrap icon styles 
**/
h4 [class^="icon-"], h4 [class*=" icon-"] {
    margin-left: 5px;
    margin-right: 5px;
}

div.table-container table div.table-inputs {
    margin: 10px 0px 10px 0px;
}

div.map-small {
    height: 200px;
}

div.map {
    height: 350px;
}

div.map-large {
    height: 500px;
}

div.map-bordered {
    border: 4px double #333;
}

/* Fix for Google Maps Controls */
.gmnoprint img {
    max-width: none;
}
