<!-- Main hero unit for a primary marketing message or call to action -->
<div class="row">
  <div class="span3 hidden-phone">
    <img src="img/logo.jpg" />
  </div>
  <div class="offset1 span8">
    <div class="hero-unit">
      <h2>Welcome to Auburn's Big Event!</h2>
      <% if (typeof user === 'undefined') { %>
        <p>Volunteer to make a difference today.</p>
        <p><a href="signin" class="btn btn-primary btn-large">Sign In <i class="icon-user icon-white"></i></a></p>
      <% } else { %>
        <p>Thanks for volunteering to serve your Auburn community!
      <% } %>
    </div>
  </div>
</div>
<!-- Example row of columns -->
<div class="row">
  <div class="span4">
    <h2>First Column</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nisi diam, sollicitudin sit amet feugiat at, suscipit a purus. Fusce vehicula blandit faucibus. Donec ultrices eros pellentesque dolor tempor tristique ut sed quam. Sed vitae varius leo. Nam nec blandit tellus. Curabitur cursus aliquam turpis sed hendrerit. Pellentesque vestibulum tortor at nibh interdum laoreet.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>Second Column</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nisi diam, sollicitudin sit amet feugiat at, suscipit a purus. Fusce vehicula blandit faucibus. Donec ultrices eros pellentesque dolor tempor tristique ut sed quam. Sed vitae varius leo. Nam nec blandit tellus. Curabitur cursus aliquam turpis sed hendrerit. Pellentesque vestibulum tortor at nibh interdum laoreet.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>Third Column</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nisi diam, sollicitudin sit amet feugiat at, suscipit a purus. Fusce vehicula blandit faucibus. Donec ultrices eros pellentesque dolor tempor tristique ut sed quam. Sed vitae varius leo. Nam nec blandit tellus. Curabitur cursus aliquam turpis sed hendrerit. Pellentesque vestibulum tortor at nibh interdum laoreet.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>
</div>
