<% script(site.url + 'vendor/js/jquery.cookie-1.3.1.min.js') -%>
<% script(site.url + 'js/signin-controller.js') -%>
<div class="row">
  <div class="offset2 span8 hero-unit">
    <h3>Please sign in to continue</h3>
    <p class="smaller-font">You need to login with your Microsoft Account to continue. Your Auburn account is a Microsoft Account.
    You may need to use your fully qualified <code>@tigermail.auburn.edu</code> email address to sign in. Your password should be the same you use to login to your Auburn account.</p>
    <div id="wl-ui"></div>
  </div>
</div>
