<% script(site.url + 'vendor/js/jquery.cookie-1.3.1.min.js') -%>
<% script(site.url + 'js/signin-controller.js') -%>
<div class="row">
  <div class="offset2 span8 hero-unit">
    <h3>Please sign in to continue</h3>
    <p><small>You need to login with your Microsoft Account to continue. Your Auburn account (email address and password) is also a valid Microsoft Account. You may need to use your fully qualified <code>@tigermail.auburn.edu</code> email address in order to sign in. Your password will be the same password that is used to login to AU Access.</small></p>
    <div id="wl-ui"></div>
  </div>
</div>
