<% script(site.url + 'js/staffHomePage-controller.js') -%>

<div class="row">
  <div class="span3 hidden-phone">
    <img src="/img/logo.jpg" />
  </div>
  <div class="offset1 span8">
    <div class="hero-unit">
      <h2>Welcome to Auburn's Big Event Staff Home Page</h2>
        <p>This is the staff headquarters to control all things Big Event.</p>
    </div>
  </div>
</div>
  <!-- Data Tables -->
<h2>Volunteer Table</h2>
<div class="table-responsive">
    <table class="table table-bordered table-striped" id="volunteerTable">
        <thead>
            <tr>
                <th id="doubleName">       Name         </th>
                <th id="email">            Email        </th>
                <th id="phone">            Phone Number </th>
                <th id="gender">           Gender       </th>
                <th id="shirtSize">        Shirt Size   </th>
                <th id="formattedAddress"> Address      </th>
            </tr>
        </thead>
        <tbody>
            <% for(i=0; i<volunteerList.length; i++) { %>
                <tr>
                    <td>
                        <a href="<%= site.url %>staff/volunteer/account/<%= volunteerList[i]._id %>">
                            <%= volunteerList[i].lastName + ", " + volunteerList[i].firstName  %>
                        </a>
                    </td>
                    <td><%= volunteerList[i].email             %></td>
                    <td><%= volunteerList[i].phone             %></td>
                    <td><%= volunteerList[i].gender            %></td>
                    <td><%= volunteerList[i].shirtSize         %></td>
                    <td><%= volunteerList[i].formattedAddress  %></td>
                </tr>
            <% } %>
        </tbody>
        <tfoot>
            <tr>
                <ul class="pager pull-right">
                    <li>
                        <input class="hidden" id="volunteerNumPages" type="text" name="volunteerNumPages" value="<%= vpt %>" style="width:3em;"/>
                    </li>  
                    <% if(vpt === 1) { %>
                        <li id="volunteerPreviousLi" class="disabled">
                            <a id="volunteerPreviousLink" class="disabled">Previous</a>
                        </li>
                        <li id="volunteerNextLi" class="disabled">
                            <a id="volunteerNextLink" class="disabled">Next</a>
                        </li>
                    <% } else { %>
                        <li id="volunteerPreviousLi" class="disabled">
                            <a id="volunteerPreviousLink" class="disabled">Previous</a>
                        </li>
                        <li id="volunteerNextLi">
                            <a id="volunteerNextLink">Next</a>
                        </li>
                    <% } %>
                </ul>
            </tr>
        </tfoot>
    </table>
</div>
<h2>Job Site Table</h2>
<div class="table-responsive">
    <table class="table table-bordered table-striped" id="jobsiteTable">
        <thead>
            <tr>
                <th id="doubleName">       Name                   </th>
                <th id="email">            Email                  </th>
                <th id="phone">            Phone Number           </th>
                <th id="altPhone">         Alternate Phone Number </th>
                <th id="formattedAddress"> Address                </th>
            </tr>
        </thead>
        <tbody>
            <% for(i=0; i<jobSiteList.length; i++) { %>
                <tr>
                    <td>
                        <a href="<%= site.url %>staff/jobsite/evaluation/<%= jobSiteList[i]._id %>">
                            <%= jobSiteList[i].lastName + ", " + jobSiteList[i].firstName  %>
                        </a>
                    </td>
                    <td><%= jobSiteList[i].email             %></td>
                    <td><%= jobSiteList[i].phone             %></td>
                    <td><%= jobSiteList[i].altPhone          %></td>
                    <td><%= jobSiteList[i].formattedAddress  %></td>
                </tr>
            <% } %>
        </tbody>
        <tfoot>
            <tr>
                <ul class="pager pull-right">
                    <li>
                        <input class="hidden" id="jobsiteNumPages" type="text" name="jobsiteNumPages" value="<%= jpt %>" style="width:3em;"/>
                    </li>  
                    <% if(jpt === 1) { %>
                        <li id="jobsitePreviousLi" class="disabled">
                            <a id="jobsitePreviousLink" class="disabled">Previous</a>
                        </li>
                        <li id="jobsiteNextLi" class="disabled">
                            <a id="jobsiteNextLink" class="disabled">Next</a>
                        </li>
                    <% } else { %>
                        <li id="jobsitePreviousLi" class="disabled">
                            <a id="jobsitePreviousLink" class="disabled">Previous</a>
                        </li>
                        <li id="jobsiteNextLi">
                            <a id="jobsiteNextLink">Next</a>
                        </li>
                    <% } %>
                </ul>
            </tr>
        </tfoot>
    </table>
</div>
<h2>Tool Table</h2>
<div class="table-responsive">
    <table class="table table-bordered table-striped" id="toolTable">
        <thead>
            <tr>
                <th id="name">            Name                       </th>
                <th id="totalAvailable">  Total Availible            </th>
                <th id="numberInUse">     Number in Use              </th>
                <th id="numberRemaining"> Number Reamining           </th>
                <th id="maxRequestValue"> Max Number To be Requested </th>
                <th id="numberRequested"> Number Requested           </th>
            </tr>
        </thead>
        <tbody>
            <% for(i=0; i<toolList.length; i++) { %>
                <tr>
                    <td>
                        <a href="<%= site.url %>staff/tool/review/<%= toolList[i]._id %>">
                            <%= toolList[i].name %>
                        </a>
                    </td>
                    <td><%= toolList[i].totalAvailable  %></td>
                    <td><%= toolList[i].numberInUse     %></td>
                    <td><%= toolList[i].numberRemaining %></td>
                    <td><%= toolList[i].maxRequestValue %></td>
                    <td><%= toolList[i].numberRequested %></td>
                </tr>
            <% } %>
        </tbody>
        <tfoot>
            <tr>
                <ul class="pager pull-right">
                    <li>
                        <input class="hidden" id="toolNumPages" type="text" name="toolNumPages" value="<%= tpt %>" style="width:3em;"/>
                    </li>  
                    <% if(tpt === 1) { %>
                        <li id="toolPreviousLi" class="disabled">
                            <a id="toolPreviousLink" class="disabled">Previous</a>
                        </li>
                        <li id="toolNextLi" class="disabled">
                            <a id="toolNextLink" class="disabled">Next</a>
                        </li>
                    <% } else { %>
                        <li id="toolPreviousLi" class="disabled">
                            <a id="toolPreviousLink" class="disabled">Previous
                            </a>
                        </li>
                        <li id="toolNextLi">
                            <a id="toolNextLink">Next</a>
                        </li>
                    <% } %>
                </ul>
            </tr>
        </tfoot>
    </table>
</div>
