<!-- Main hero unit for a primary marketing message or call to action -->
<div class="row">
  <div class="span3 hidden-phone">
    <img src="img/logo.jpg" />
  </div>
  <div class="offset1 span8">
    <div class="hero-unit">
      <h2>Welcome to Auburn's Big Event Staff Home Page</h2>
        <p>This is the staff headquarters to control all things Big Event.</p>
    </div>
  </div>
</div>
  <!-- Data Tables -->
<h2>Volunteer Table</h2>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Gender</th>
                <th>Shirt Size</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <% for(i=0; i<volunteerList.length; i++) { %>
                <tr>
                    <td>
                        <a href="<%= site.url %>volunteer/account/id/<%= volunteerList[i]._id %>">
                            <%= volunteerList[i].firstName + " " + volunteerList[i].lastName  %>
                        </a>
                    </td>
                    <td><%= volunteerList[i].email             %></td>
                    <td><%= volunteerList[i].phone             %></td>
                    <td><%= volunteerList[i].gender            %></td>
                    <td><%= volunteerList[i].shirtSize         %></td>
                    <td><%= volunteerList[i].formattedAddress  %></td>
                </tr>
            <% } %>
        </tbody>
        <tfoot>
            <tr>
                <ul class="pager">
                    <% if(vp === 1 && vp === vpt) { %>
                        <li class="disabled">
                            <a onclick='return false;' href="#">Previous</a>
                        </li>
                        <li class="disabled">
                            <a onclick='return false;' href="#">Next</a>
                        </li>
                    <% } else if(vp === 1) { %>
                        <li class="disabled">
                            <a onclick='return false;' href="#">Previous</a>
                        </li>
                        <li>
                            <a href="<%= site.url %>staffHomePage?tp=<%= tp %>&jp=<%= jp %>&vp=<%= vp + 1 %>">Next</a>
                        </li>
                    <% } else if(vp === vpt) { %>
                        <li>
                            <a href="<%= site.url %>staffHomePage?tp=<%= tp %>&jp=<%= jp %>&vp=<%= vp - 1 %>">Previous</a>
                        </li>
                        <li class='disabled'>
                            <a onclick='return false;' href="#">Next</a>
                        </li>
                    <% } else { %>
                        <li>
                            <a href="<%= site.url %>staffHomePage?tp=<%= tp %>&jp=<%= jp %>&vp=<%= vp - 1 %>">Previous</a>
                        </li>
                        <li>
                            <a href="<%= site.url %>staffHomePage?tp=<%= tp %>&jp=<%= jp %>&vp=<%= vp + 1 %>">Next</a>
                        </li>
                    <% } %>
                </ul>
            </tr>
        </tfoot>
    </table>
</div>
<h2>Job Site Table</h2>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Alternate Phone Number</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <% for(i=0; i<jobSiteList.length; i++) { %>
                <tr>
                    <td>
                        <a href="<%= site.url %>jobsite/evaluation/<%= jobSiteList[i]._id %>">
                            <%= jobSiteList[i].firstName + " " + jobSiteList[i].lastName  %>
                        </a>
                    </td>
                    <td><%= jobSiteList[i].email             %></td>
                    <td><%= jobSiteList[i].phone             %></td>
                    <td><%= jobSiteList[i].altPhone            %></td>
                    <td><%= jobSiteList[i].formattedAddress  %></td>
                </tr>
            <% } %>
        </tbody>
        <tfoot>
            <tr>
                <ul class="pager">
                    <% if(jp === 1 && jp === jpt) { %>
                        <li class="disabled">
                            <a onclick='return false;' href="#">Previous</a>
                        </li>
                        <li class="disabled">
                            <a onclick='return false;' href="#">Next</a>
                        </li>
                    <% } else if(jp === 1) { %>
                        <li class="disabled">
                            <a onclick='return false;' href="#">Previous</a>
                        </li>
                        <li>
                            <a href="<%= site.url %>staffHomePage?tp=<%= tp %>&jp=<%= jp + 1 %>&vp=<%= vp %>">Next</a>
                        </li>
                    <% } else if(jp === jpt) { %>
                        <li>
                            <a href="<%= site.url %>staffHomePage?tp=<%= tp %>&jp=<%= jp - 1 %>&vp=<%= vp %>">Previous</a>
                        </li>
                        <li class='disabled'>
                            <a onclick='return false;' href="#">Next</a>
                        </li>
                    <% } else { %>
                        <li>
                            <a href="<%= site.url %>staffHomePage?tp=<%= tp %>&jp=<%= jp - 1 %>&vp=<%= vp %>">Previous</a>
                        </li>
                        <li>
                            <a href="<%= site.url %>staffHomePage?tp=<%= tp %>&jp=<%= jp + 1 %>&vp=<%= vp %>">Next</a>
                        </li>
                    <% } %>
                </ul>
            </tr>
        </tfoot>
    </table>
</div>
<h2>Tool Table</h2>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Total Availible</th>
                <th>Number in Use</th>
                <th>Number Reamining</th>
                <th>Max Number To be Requested</th>
                <th>Number Requested</th>
            </tr>
        </thead>
        <tbody>
            <% for(i=0; i<toolList.length; i++) { %>
                <tr>
                    <td>
                        <a href="<%= site.url %>tool/review/<%= toolList[i]._id %>">
                            <%= toolList[i].name %>
                        </a>
                    </td>
                    <td><%= toolList[i].totalAvailable  %></td>
                    <td><%= toolList[i].numberInUse     %></td>
                    <td><%= toolList[i].numberRemaining %></td>
                    <td><%= toolList[i].maxRequestValue %></td>
                    <td><%= toolList[i].numberRequested %></td>
                </tr>
            <% } %>
        </tbody>
        <tfoot>
            <tr>
                <ul class="pager">
                    <% if(tp === 1 && tp === tpt) { %>
                        <li class="disabled">
                            <a onclick='return false;' href="#">Previous</a>
                        </li>
                        <li class="disabled">
                            <a onclick='return false;' href="#">Next</a>
                        </li>
                    <% } else if(tp === 1) { %>
                        <li class="disabled">
                            <a onclick='return false;' href="<%= tpt %>">Previous</a>
                        </li>
                        <li>
                            <a href="<%= site.url %>staffHomePage?tp=<%= tp + 1 %>&jp=<%= jp %>&vp=<%= vp %>">Next</a>
                        </li>
                    <% } else if(tp === tpt) { %>
                        <li>
                            <a href="<%= site.url %>staffHomePage?tp=<%= tp - 1 %>&jp=<%= jp %>&vp=<%= vp %>">Previous</a>
                        </li>
                        <li class='disabled'>
                            <a onclick='return false;' href="#">Next</a>
                        </li>
                    <% } else { %>
                        <li>
                            <a href="<%= site.url %>staffHomePage?tp=<%= tp - 1 %>&jp=<%= jp %>&vp=<%= vp %>">Previous</a>
                        </li>
                        <li>
                            <a href="<%= site.url %>staffHomePage?tp=<%= tp + 1 %>&jp=<%= jp %>&vp=<%= vp %>">Next</a>
                        </li>
                    <% } %>
                </ul>
            </tr>
        </tfoot>
    </table>
</div>
