<% if(user.eventData.state === 'AL') { %><option value="AL" selected>Alabama</option><% } else { %><option value="AL">Alabama</option><% } %>
<% if(user.eventData.state === 'AK') { %><option value="AK" selected>Alaska</option><% } else { %><option value="AK">Alaska</option><% } %>
<% if(user.eventData.state === 'AZ') { %><option value="AZ" selected>Arizona</option><% } else { %><option value="AK">Alaska</option><% } %>
<% if(user.eventData.state === 'AR') { %><option value="AR" selected>Arkansas</option><% } else { %><option value="AK">Alaska</option><% } %>
<% if(user.eventData.state === 'CA') { %><option value="CA" selected>California</option><% } else { %> 
<% if(user.eventData.state === 'CO') { %><option value="CO" selected>Colorado</option><% } else { %> 
<% if(user.eventData.state === 'CT') { %><option value="CT" selected>Connecticut</option><% } else { %> 
<% if(user.eventData.state === 'DE') { %><option value="DE" selected>Delaware</option><% } else { %> 
<% if(user.eventData.state === 'FL') { %><option value="FL" selected>Florida</option><% } else { %> 
<% if(user.eventData.state === 'GA') { %><option value="GA" selected>Georgia</option><% } else { %>
<% if(user.eventData.state === 'HI') { %><option value="HI" selected>Hawaii</option><% } else { %>
<% if(user.eventData.state === 'ID') { %><option value="ID" selected>Idaho</option><% } else { %>
<% if(user.eventData.state === 'IL') { %><option value="IL" selected>Illinois</option><% } else { %>
<% if(user.eventData.state === 'IN') { %><option value="IN" selected>Indiana</option><% } else { %>
<% if(user.eventData.state === 'IA') { %><option value="IA" selected>Iowa</option><% } else { %>
<% if(user.eventData.state === 'KS') { %><option value="KS" selected>Kansas</option><% } else { %>
<% if(user.eventData.state === 'KY') { %><option value="KY" selected>Kentucky</option><% } else { %>
<% if(user.eventData.state === 'LA') { %><option value="LA" selected>Louisiana</option><% } else { %>
<% if(user.eventData.state === 'ME') { %><option value="ME" selected>Maine</option><% } else { %>
<% if(user.eventData.state === 'MD') { %><option value="MD" selected>Maryland</option><% } else { %>
<% if(user.eventData.state === 'MA') { %><option value="MA" selected>Massachusetts</option><% } else { %>
<% if(user.eventData.state === 'MI') { %><option value="MI" selected>Michigan</option><% } else { %>
<% if(user.eventData.state === 'MN') { %><option value="MN" selected>Minnesota</option><% } else { %>
<% if(user.eventData.state === 'MS') { %><option value="MS" selected>Mississippi</option><% } else { %>
<% if(user.eventData.state === 'MO') { %><option value="MO" selected>Missouri</option><% } else { %>
<% if(user.eventData.state === 'MT') { %><option value="MT" selected>Montana</option><% } else { %>
<% if(user.eventData.state === 'NE') { %><option value="NE" selected>Nebraska</option><% } else { %>
<% if(user.eventData.state === 'NV') { %><option value="NV" selected>Nevada</option><% } else { %>
<% if(user.eventData.state === 'NH') { %><option value="NH" selected>New Hampshire</option><% } else { %>
<% if(user.eventData.state === 'NJ') { %><option value="NJ" selected>New Jersey</option><% } else { %>
<% if(user.eventData.state === 'NM') { %><option value="NM" selected>New Mexico</option><% } else { %>
<% if(user.eventData.state === 'NY') { %><option value="NY" selected>New York</option><% } else { %>
<% if(user.eventData.state === 'NC') { %><option value="NC" selected>North Carolina</option><% } else { %>
<% if(user.eventData.state === 'ND') { %><option value="ND" selected>North Dakota</option><% } else { %>
<% if(user.eventData.state === 'OH') { %><option value="OH" selected>Ohio</option><% } else { %>
<% if(user.eventData.state === 'OK') { %><option value="OK" selected>Oklahoma</option><% } else { %>
<% if(user.eventData.state === 'OR') { %><option value="OR" selected>Oregon</option><% } else { %>
<% if(user.eventData.state === 'PA') { %><option value="PA" selected>Pennsylvania</option><% } else { %>
<% if(user.eventData.state === 'RI') { %><option value="RI" selected>Rhode Island</option><% } else { %>
<% if(user.eventData.state === 'SC') { %><option value="SC" selected>South Carolina</option><% } else { %>
<% if(user.eventData.state === 'SD') { %><option value="SD" selected>South Dakota</option><% } else { %>
<% if(user.eventData.state === 'TN') { %><option value="TN" selected>Tennessee</option><% } else { %>
<% if(user.eventData.state === 'TX') { %><option value="TX" selected>Texas</option><% } else { %>
<% if(user.eventData.state === 'UT') { %><option value="UT" selected>Utah</option><% } else { %>
<% if(user.eventData.state === 'VT') { %><option value="VT" selected>Vermont</option><% } else { %>
<% if(user.eventData.state === 'VA') { %><option value="VA" selected>Virginia</option><% } else { %>
<% if(user.eventData.state === 'WA') { %><option value="WA" selected>Washington</option><% } else { %>
<% if(user.eventData.state === 'WV') { %><option value="WV" selected>West Virginia</option><% } else { %>
<% if(user.eventData.state === 'WI') { %><option value="WI" selected>Wisconsin</option><% } else { %>
<% if(user.eventData.state === 'WY') { %><option value="WY" selected>Wyoming</option><% } else { %>


<option value="AK">Alaska</option><% } %>
<option value="AZ">Arizona</option><% } %>
<option value="AR">Arkansas</option><% } %>
<option value="CA">California</option><% } %>
<option value="CO">Colorado</option><% } %>
<option value="CT">Connecticut</option><% } %>
<option value="DE">Delaware</option><% } %>
<option value="FL">Florida</option><% } %>
<option value="GA">Georgia</option><% } %>
<option value="HI">Hawaii</option><% } %>
<option value="ID">Idaho</option><% } %>
<option value="IL">Illinois</option><% } %>
<option value="IN">Indiana</option><% } %>
<option value="IA">Iowa</option><% } %>
<option value="KS">Kansas</option><% } %>
<option value="KY">Kentucky</option><% } %>
<option value="LA">Louisiana</option><% } %>
<option value="ME">Maine</option><% } %>
<option value="MD">Maryland</option><% } %>
<option value="MA">Massachusetts</option><% } %>
<option value="MI">Michigan</option><% } %>
<option value="MN">Minnesota</option><% } %>
<option value="MS">Mississippi</option><% } %>
<option value="MO">Missouri</option><% } %>
<option value="MT">Montana</option><% } %>
<option value="NE">Nebraska</option><% } %>
<option value="NV">Nevada</option><% } %>
<option value="NH">New Hampshire</option><% } %>
<option value="NJ">New Jersey</option><% } %>
<option value="NM">New Mexico</option><% } %>
<option value="NY">New York</option><% } %>
<option value="NC">North Carolina</option><% } %>
<option value="ND">North Dakota</option><% } %>
<option value="OH">Ohio</option><% } %>
<option value="OK">Oklahoma</option><% } %>
<option value="OR">Oregon</option><% } %>
<option value="PA">Pennsylvania</option><% } %>
<option value="RI">Rhode Island</option><% } %>
<option value="SC">South Carolina</option><% } %>
<option value="SD">South Dakota</option><% } %>
<option value="TN">Tennessee</option><% } %>
<option value="TX">Texas</option><% } %>
<option value="UT">Utah</option><% } %>
<option value="VT">Vermont</option><% } %>
<option value="VA">Virginia</option><% } %>
<option value="WA">Washington</option><% } %>
<option value="WV">West Virginia</option><% } %>
<option value="WI">Wisconsin</option><% } %>
<option value="WY">Wyoming</option><% } %>
