<% script(site.url + 'vendor/js/jquery.form.min.js') -%>
<% script(site.url + 'js/tool-controller.js') -%>
<div class="row">
  <div class="offset1 span5 hidden-phone">
    <div>
      <h4>Reasons To Join</h4>
      <hr />
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nisi diam, sollicitudin sit amet feugiat at, suscipit a purus. Fusce vehicula blandit faucibus. Donec ultrices eros pellentesque dolor tempor tristique ut sed quam. Sed vitae varius leo. Nam nec blandit tellus. Curabitur cursus aliquam turpis sed hendrerit. Pellentesque vestibulum tortor at nibh interdum laoreet.</p>
    </div>
    <div>
      <h4>More Reasons</h4>
      <hr />
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nisi diam, sollicitudin sit amet feugiat at, suscipit a purus. Fusce vehicula blandit faucibus. Donec ultrices eros pellentesque dolor tempor tristique ut sed quam. Sed vitae varius leo. Nam nec blandit tellus. Curabitur cursus aliquam turpis sed hendrerit. Pellentesque vestibulum tortor at nibh interdum laoreet.</p>
    </div>
    <div>
      <h4>Even More</h4>
      <hr />
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nisi diam, sollicitudin sit amet feugiat at, suscipit a purus. Fusce vehicula blandit faucibus. Donec ultrices eros pellentesque dolor tempor tristique ut sed quam. Sed vitae varius leo. Nam nec blandit tellus. Curabitur cursus aliquam turpis sed hendrerit. Pellentesque vestibulum tortor at nibh interdum laoreet.</p>
    </div>
  </div>
  <div class="span5">
    <div class="well">
      <h3>Add Tool</h3>
      <hr />
      <form id="tool-form" method="post">
        <label for="name">Name</label>
        <input class="input-block-level" type="text" id="name" name="name" required/>
        <label for="totalAvailable">Total Available</label>
        <input class="input-block-level" type="number" id="totalAvailable" name="totalAvailable" min="0" value="0" required />
        <label for="numberInUse">Number In Use</label>
        <input class="input-block-level" type="number" id="numberInUse" name="numberInUse" min="0" value="0" required />
        <label for="numberRequested">Number Requested</label>
        <input class="input-block-level" type="number" id="numberRequested" name="numberRequested" value="0" min="0"/>
        <input class="input-block-level" type="checkbox" id="maxRequest" name="maxRequest"/> 
        <label for="maxRequest">Set Maximum Request Amount</label>
        <label for="maxRequestValue" id="maxRequestLabel">Maximum Request Amount</label>
        <input class="input-block-level" type="number" id="maxRequestValue" name="maxRequestValue" value="0" min="0"/>
        <hr />
        <input class="btn" type="reset" value="Clear" />
        <input class="btn btn-primary pull-right" type="submit" value="Submit" />
      </form>
    </div>
  </div>
</div>
