<% script(site.url + 'vendor/js/jquery.form.min.js') -%>
<% script(site.url + 'js/tool-review-controller.js') -%>
<div class="row">
  <div class="offset1 span5 hidden-phone">
    <div>
      <h4>What is a Max Request Value?</h4>
      <hr />
      <p>In the case where more of specific tool is needed than is possessed, this is the maximum amount that can be reqested from sponsers.</p>
    </div>
  </div>
  <div class="span5">
    <div class="well">
      <div>   
        <h4 class="pull-left">Edit Tool</h4>
        <a id="edit-button" class="pull-right btn">Edit <span class="icon-edit"></span></a>
        <a id="cancel-button" class="pull-right btn hidden">Cancel <span class="icon-remove"></span></a>
      </div><br /><br /><hr />
      <form id="toolReview-form" method="post">
        <label for="name">Name</label>
        <input class="input-block-level" type="text" id="name" name="name" value="<%= record.name %>" disabled/>
        <label for="inventory">Number In Inventory</label>
        <input class="tool-review-input input-block-level" type="number" id="inventory" name="inventory" min="0" value="<%= record.inventory %>" required disabled/>
        <label for="numberNeeded">Number Needed</label>
        <input class="sinput-block-level" type="text" id="numberNeeded" name="numberNeeded" value="<%= numNeeded %>" required disabled/>
        <div>
          <% if(record.maxRequest === 'on') { %>
            <input class="tool-review-input " type="checkbox" id="maxRequest" name="maxRequest" checked disabled/> 
          <% } else { %>
            <input class="tool-review-input" type="checkbox" id="maxRequest" name="maxRequest" disabled/> 
          <% } %>
          <label for="maxRequest">Set Maximum Request Amount</label>
        </div>
        <label for="maxRequestValue" id="maxRequestLabel">Maximum Request Amount</label>
        <input class="tool-review-input input-block-level" type="number" id="maxRequestValue" name="maxRequestValue" value="<%= record.maxRequestValue %>" min="0" disabled/>
        <hr />
        <a href="#delete-account" id="delete-button" class="btn btn-danger disabled" data-toggle="modal">Delete</a>
        <input class="tool-review-input btn btn-primary pull-right" type="submit" value="Submit" disabled/>
      </form>
      <div id="delete-account" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="delete-tool-label" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
          <h3 id="delete-tool-label">Delete Tool</h3>
        </div>
        <div class="modal-body">
          <p><strong>Are you sure you want to delete this tool?</strong> This tool will be deleted, and this action cannot be undone. The tool can be added back at a later time using the tool form</p>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
          <a href="/staff/tool/review/delete/<%= record._id %>">Confirm</a>
        </div>
      </div>
    </div>
  </div>
</div>

