<% stylesheet(site.url + '/vendor/css/bootstrap-formhelpers.css') -%>
<% script(site.url + '/vendor/js/bootstrap-formhelpers-states.js') -%>
<% script(site.url + '/vendor/js/bootstrap-formhelpers-phone.js') -%>
<% script(site.url + '/vendor/js/bootstrap-formhelpers-states.en_US.js') -%>
<% script(site.url + '/vendor/js/jquery.form.min.js') -%>
<% script(site.url + '/js/volunteer-account-controller.js') -%>
<div class="row-fluid">
  <div class="span6 hidden-phone">
    <div>
      <h4>Thank You <%= user.volunteer.firstName %>!</h4>
      <hr />
      <p>We would like to thank you for volunteering with us to serve your Auburn community. Every year, on the same day, thousands of students make a difference all over the Auburn community. We couldn't do it without the selfless Auburn students such as yourself who are willing to work with others to make Big Event a success.</p>
      <p>As a volunteer you will have the opportunity to serve your community with thousands of other students on the same single day in the spring. You will be assigned a single jobsite at which to work with other students on the day of the event.</p>
      <p>You will receive email notifications prior to the event with more information such as your jobsite assignment. Again, thank you so much <%= user.volunteer.firstName %>!</p>
    </div>
    <div>
      <h4>Your Account</h4>
      <hr />
      <p>Your account is linked with your Auburn account and Auburn's Big Event will only ever use your Auburn email address. Please ensure that your other account information is correct and remains updated. If unfortunately, it happens that you can't volunteer as previously planned, you may need to <a class="text-error" href="#delete-account" data-toggle="modal">delete your account</a> as a volunteer.</p>
      <p>As long as jobsite assignments have not happened already you will still be able to register as a volunteer again later should your circumstances change. In either case, we want to thank you for your interest in the Big Event program, and hope you'll consider volunteering again next year.</p>
    </div>
    <div>
      <h4>Make it a team effort</h4>
      <hr />
      <p>You may choose to volunteer with Big Event as an individual or you volunteer with a team of other student volunteers. Team members are assigned to the same jobsite on the day of the event. If you want to be part of a team you can either <a href="<%= site.url %>volunteer/team">invite students to your team</a>, or you can join another volunteers team.</p>
      <p>In order to join an existing team of volunteers you will need to get an invite link from a member of that team. Start looking for other students to join your team now!.</p>
    </div>
  </div>
  <div class="span6">
    <div class="well">
      <a href="#edit" id="edit-button" class="btn pull-right">Edit</a>
      <a href="#cancel" id="cancel-button" class="btn pull-right hidden">Cancel</a>
      <h3>Volunteer Data</h3>
      <hr />
      <div id="volunteer-review-list">
        <dl>
          <dt>Email</dt><dd><%= user.email %></dd>
          <dt>Name</dt><dd><%= user.volunteer.firstName + ' ' + user.volunteer.lastName %></dd>
          <dt>Address</dt><dd><%= user.volunteer.address %><br /><%= user.volunteer.city + ', ' + user.volunteer.state + ' ' + user.volunteer.zip %></dd>
          <dt>Phone</dt><dd><%= user.volunteer.phone %></dd>
          <dt>Gender</dt><dd><%= user.volunteer.gender %></dd>
          <dt>Shirt Size</dt><dd><%= user.volunteer.shirtSize %></dd>
          <hr />
        </dl>
      </div>
      <div id="volunteer-form-container" class="hidden">
        <% include volunteer-form.html %>
      </div>
    </div>
  </div>
</div>
