<% stylesheet(site.url + 'vendor/css/bootstrap-formhelpers.css') -%>
<% script(site.url + 'vendor/js/bootstrap-formhelpers-states.js') -%>
<% script(site.url + 'vendor/js/bootstrap-formhelpers-phone.js') -%>
<% script(site.url + 'vendor/js/bootstrap-formhelpers-states.en_US.js') -%>
<% script(site.url + 'vendor/js/jquery.form.min.js') -%>
<% script(site.url + 'js/volunteer-account-controller.js') -%>
<div class="row">
  <div class="offset1 span5 hidden-phone">
    <div>
      <h4>Volunteer Information</h4>
      <hr class="thin" />
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nisi diam, sollicitudin sit amet feugiat at, suscipit a purus. Fusce vehicula blandit faucibus. Donec ultrices eros pellentesque dolor tempor tristique ut sed quam. Sed vitae varius leo. Nam nec blandit tellus. Curabitur cursus aliquam turpis sed hendrerit. Pellentesque vestibulum tortor at nibh interdum laoreet.</p>
    </div>
    <div>
      <h4>Volunteer Status</h4>
      <hr class="thin"/>
      <p>You're currently registered to volunteer in the annual event. Click here to view or change your <a href="<%= site.url %>volunteer/status">volunteer status</a>.</p>
    </div>
    <div>
      <h4>Make it a team effort</h4>
      <hr class="thin" />
      <p>You can <a href="<%= site.url %>volunteer/team">register as a team captain</a> in order to invite other volunteers to join you. Pull together and make a difference as a team.</p>
    </div>
  </div>
  <div class="span5">
    <div class="well">
      <div>   
        <h4 class="pull-left">Volunteer Account</h4>
        <a id="edit-button" class="pull-right btn">Edit <span class="icon-edit"></span></a>
        <a id="cancel-button" class="pull-right btn hidden">Cancel <span class="icon-remove"></span></a>
      </div><br /><br /><hr />
      <form id="volunteer-account-form" method="post">
        <label for="email">Email</label>
        <input class="input-block-level" type="email" id="email" name="email" value="<%= record.email %>" readonly />
        <label for="first-name">First Name</label>
        <input class="input-block-level account-input" type="text" id="first-name" name="firstName" value="<%= record.firstName %>" disabled />
        <label for="last-name">Last Name</label>
        <input class="input-block-level account-input" type="text" id="last-name" name="lastName" value="<%= record.lastName %>" disabled />
        <label for="gender-m">Gender</label>
        <div class="radio-group">
          <div>
            <% if (record.gender === 'Male') { %>
              <input class="account-input" type="radio" id="gender-m" name="gender" value="Male" checked required disabled />Male
            <% } else { %>
              <input class="account-input" type="radio" id="gender-m" name="gender" value="Male" required disabled />Male
            <% } %>
          </div>
          <div>
            <% if (record.gender === 'Female') { %>
              <input class="account-input" type="radio" id="gender-f" name="gender" value="Female" checked required disabled />Female
            <% } else { %>
              <input class="account-input" type="radio" id="gender-f" name="gender" value="Female" required disabled />Female
            <% } %>
          </div>
        </div>
        <label for="address">Address</label>
        <input class="input-block-level account-input" type="text" id="address" name="address" value="<%= record.address %>" required disabled />
        <label for="city">City</label>
        <input class="input-block-level account-input" type="text" id="city" name="city" value="<%= record.city %>" required disabled />
        <label for="state">State</label>
        <select class="form-control bfh-states input-block-level account-input" name="state" form="volunteer-account-form" data-country="US" data-state="<%= record.state %>" required disabled></select>
        <label for="zip">Zip</label>
        <input class="input-block-level account-input" type="text" id="zip" name="zip" pattern="\d{5}" value="<%= record.zip %>" required disabled />
        <label for="phone">Phone</label>
        <input class="form-control bfh-phone input-block-level account-input" type="tel" id="phone" name="phone" data-format="ddd-ddd-dddd" data-number="<%= record.phone %>" required disabled />
        <label>Shirt Size</label>
        <div class="radio-group">
          <div>
            <% if (record.shirtSize === 'S') { %>
              <input class="account-input" type="radio" name="shirtSize" value="S" checked required disabled />S
            <% } else { %>
              <input class="account-input" type="radio" name="shirtSize" value="S" required disabled />S
            <% } %>
          </div>
          <div>
            <% if (record.shirtSize === 'M') { %>
              <input class="account-input" type="radio" name="shirtSize" value="M" checked required disabled />M
            <% } else { %>
              <input class="account-input" type="radio" name="shirtSize" value="M" required disabled />M
            <% } %>
          </div>
          <div>
            <% if (record.shirtSize === 'L') { %>
              <input class="account-input" type="radio" name="shirtSize" value="L" checked required disabled />L
            <% } else { %>
              <input class="account-input" type="radio" name="shirtSize" value="L" required disabled />L
            <% } %>
          </div>
          <div>
            <% if (record.shirtSize === 'XL') { %>
              <input class="account-input" type="radio" name="shirtSize" value="XL" checked required disabled />XL
            <% } else { %>
              <input class="account-input" type="radio" name="shirtSize" value="XL" required disabled />XL
            <% } %>
          </div>
          <div>
            <% if (record.shirtSize === 'XXL') { %>
              <input class="account-input" type="radio" name="shirtSize" value="XXL" checked required disabled />XXL
            <% } else { %>
              <input class="account-input" type="radio" name="shirtSize" value="XXL" required disabled />XXL
            <% } %>
          </div>
        </div>
        <hr />
        <input class="account-input btn" type="reset" value="Clear" disabled />
        <input class="account-input btn btn-primary pull-right" type="submit" value="Submit" disabled />
      </form>
    </div>
  </div>
</div>
