<% script(site.url + 'vendor/js/jquery.form.min.js') -%>
<% script(site.url + 'js/volunteer-controller.js') -%>
<div class="row">
  <div class="offset1 span5 hidden-phone">
    <div>
      <h4>Reasons To Join</h4>
      <hr class="thin" />
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nisi diam, sollicitudin sit amet feugiat at, suscipit a purus. Fusce vehicula blandit faucibus. Donec ultrices eros pellentesque dolor tempor tristique ut sed quam. Sed vitae varius leo. Nam nec blandit tellus. Curabitur cursus aliquam turpis sed hendrerit. Pellentesque vestibulum tortor at nibh interdum laoreet.</p>
    </div>
    <div>
      <h4>More Reasons</h4>
      <hr class="thin"/>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nisi diam, sollicitudin sit amet feugiat at, suscipit a purus. Fusce vehicula blandit faucibus. Donec ultrices eros pellentesque dolor tempor tristique ut sed quam. Sed vitae varius leo. Nam nec blandit tellus. Curabitur cursus aliquam turpis sed hendrerit. Pellentesque vestibulum tortor at nibh interdum laoreet.</p>
    </div>
    <div>
      <h4>Even More</h4>
      <hr class="thin" />
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nisi diam, sollicitudin sit amet feugiat at, suscipit a purus. Fusce vehicula blandit faucibus. Donec ultrices eros pellentesque dolor tempor tristique ut sed quam. Sed vitae varius leo. Nam nec blandit tellus. Curabitur cursus aliquam turpis sed hendrerit. Pellentesque vestibulum tortor at nibh interdum laoreet.</p>
    </div>
  </div>
  <div class="span5">
    <div class="well">
      <h3>Volunteer Registration</h3>
      <hr />
      <form id="volunteer-form" method="post">
        <label for="email">Email</label>
        <input class="input-block-level" type="email" id="email" name="email" value="<%= user.email %>" required disabled />
        <% if (user.first_name != null) { %>
          <label for="first_name">First Name</label>
          <input class="input-block-level" type="text" id="first-name" name="first_name" value="<%= user.first_name %>" required disabled />
        <% } else { %>
          <label for="first_name">First Name</label>
          <input class="input-block-level" type="text" id="first-name" name="first_name" value="" required />
        <% } %>
        <% if (user.last_name !== null) { %>
          <label for="last_name">Last Name</label>
          <input class="input-block-level" type="text" id="last-name" name="last_name" value="<%= user.last_name %>" required disabled />
        <% } else { %>
          <label for="last_name">Last Name</label>
          <input class="input-block-level" type="text" id="last-name" name="last_name" value="" required />
        <% } %>
        <label for="gender-m">Gender</label>
        <div class="radio-group">
          <div><input type="radio" id="gender-m" name="gender" value="Male" required />Male</div>
          <div><input type="radio" id="gender-f" name="gender" value="Female" required />Female</div>
        </div>
        <label for="address">Address</label>
        <input class="input-block-level" type="text" id="address" name="address" required />
        <label for="city">City</label>
        <input class="input-block-level" type="text" id="city" name="city" required />
        <label for="state">State</label>
        <select class="input-block-level" form="volunteer-form" id="state" name="state" required disabled> 
          <option value="AL" selected>Alabama</option> 
        </select>
        <label for="zip">Zip</label>
        <input class="input-block-level" type="text" id="zip" name="zip" pattern="\d{5}" required />
        <label for="phone">Phone</label>
        <input class="input-block-level" type="tel" id="phone" name="phone" pattern="\d{10}" required />
        <label>Shirt Size</label>
        <div class="radio-group">
          <div><input type="radio" name="shirtsize" value="S" required />S</div>
          <div><input type="radio" name="shirtsize" value="M" required />M</div>
          <div><input type="radio" name="shirtsize" value="L" required />L</div>
          <div><input type="radio" name="shirtsize" value="XL" required />XL</div>
          <div><input type="radio" name="shirtsize" value="XXL" required />XXL</div>
        </div>
        <hr />
        <input class="btn" type="reset" value="Clear" />
        <input class="btn btn-primary pull-right" type="submit" value="Submit" />
      </form>
    </div>
  </div>
</div>
