<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Include Twitter Bootstrap CSS, order important here -->
    <link href="<%= site.url %>/vendor/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Include custom app-specific styles last to overide all others -->
    <link href="<%= site.url %>/css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <img class="offset2 span2" src="<%= site.url %>/img/logo-sm.jpg" />
        <h1 class="span8"><br/>Big Event Tool Report</h1>
      </div>
      <br />
      <p>Here are the tools needed by Big Event:</p>
      <table class="table table-bordered table-striped">
        <thead>
          <tr><th>Name</th><th>Request Amount</th></tr>
        </thead>
        <tbody>
          <% tools.forEach(function (currTool) {%>
            <tr><td><%= currTool.name %></td><td><%= currTool.requestAmount %></td></tr>
          <% }); %>
        </tbody>
      </table>
      <p>Thank you for your generous support of Auburn Big Event.</p>
      <p>Auburn Big Event Staff</p>
    </div>
  </body>
</html>
